In [1]:
'안녕하세요'

'안녕하세요'

In [2]:
1 + 1 # 정수 더하기

2

In [5]:
print(7 // 3)  # 몫 연산자
print(7 ** 3)  # 제곱 연산자

2
343

In [6]:
variable = '문자열' # 파이썬의 변수는 데이터 타입이 존재하지 않음 (데이터의 타입은 존재)
variable

'문자열'

In [8]:
variable = 3.14
variable

3.14

In [10]:
# 정수와 실수 형변환
# 특정 데이터를 정수로 변환할 때는 int() 내장 함수 사용

In [11]:
int(3.14)

3

In [13]:
int('3')

3

In [ ]:
# 특정 데이터를 실수로 변환할 때는 float() 내장 함수를 사용

In [14]:
float(3)

3.0

In [15]:
float('3.14')

3.14

In [ ]:
# NaN 과 Inf
# NaN : 숫자가 아님을 나타냄
# Inf : 무한대의 수를 나타냄

In [18]:
float('NaN')

nan

In [19]:
float('Inf')

inf

In [ ]:
# 파이썬에서의 문자열 표현
# ', ", ''', """

In [20]:
'문자열'

'문자열'

In [24]:
"문자열"

'문자열'

In [22]:
'''
여러줄의
문자열
취급
'''

'\n여러줄의\n문자열\n취급\n'

In [25]:
"""
여러줄의
문자열
취급
"""

'\n여러줄의\n문자열\n취급\n'

In [ ]:
# 문자열 연산
# + : 문자열을 연결
# * : 문자열을 반복

In [26]:
'안녕' + '안녕'

'안녕안녕'

In [27]:
'안녕' * 5

'안녕안녕안녕안녕안녕'

In [ ]:
# 문자열 형변환
# 다른 형태의 데이터를 str() 내장 함수를 사용하여 문자열로 변환 가능

In [28]:
'안녕' + 5 + '잘가'

TypeError: can only concatenate str (not "int") to str

In [29]:
'안녕' + str(5) + '잘가'

'안녕5잘가'

In [ ]:
# 문자열 줄바꿈
# \n으로 줄바꿈을 표현할 수 있음

In [30]:
'안녕\n잘가'

'안녕\n잘가'

In [31]:
# 문자열 치환
# 문자열객체.replace(변경전문자, 변경후문자)
string = 'I am Ironman'

In [32]:
string.replace('Ironman', 'Hulk')

'I am Hulk'

In [33]:
string

'I am Ironman'

In [34]:
# f문자열
# 문자열을 표시할 형태를 지정해서 사용하는 문자열
name = '김철수'
age = 30

In [35]:
f'{name}의 나이는 {age}세 입니다.'

'김철수의 나이는 30세 입니다.'

In [36]:
# f문자열의 고급 형식 지정
# 변수:<숫자 : 변수값을 왼쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:>숫자 : 변수값을 오른쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:^숫자 : 변수값을 가운데 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:특정문자(<>^)숫자 : 변수값을 정렬해서 나열한 후 남은 자리를 특정문자로 매꿈
number = 12345

In [37]:
f'[{number:>15}]'

'[          12345]'

In [38]:
f'[{number:0>15}]'

'[000000000012345]'